@use "boilerplate";

.main  {
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
    .card{
        height: 300px;
        width: 300px;
        background-color: rgb(55, 82, 73);
        background-size: cover;
        background-position: center;   
        position: relative;
        transition: scale 240ms ease;
        &:hover{
            scale: 110%;
            h3{
                display: block;
            }
        }
        h3{
            display: none;
            padding: 1rem;
            color: white;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);  /* THIS IS HOW YOU CENTER SMT WITH POSITIONS */
            width: 100%;
            text-align: center;
            background-color: rgba(54, 48, 48, 0.343);
        }
    }
    .pic1{
        background-image: url(images/pizza-3007395_1280.jpg);
    }
    .pic2{
        background-image: url(images/hamburger-494706_1280.jpg);
    }
    .pic3{
        background-image: url(images/toast-6011147_1280.jpg);
    }
    .pic4{
        background-image: url(images/food-865102_1280.jpg);
    }
    .pic5{
        background-image: url(images/pasta-1264056_1280.jpg);
    }
    .pic6{
        background-image: url(images/eggs-7064498_1280.jpg);
    }
    .pic7{
        background-image: url(images/abstract-1238657_1280.jpg);
    }
    .pic8{
        background-image: url(images/margarita-1839361_1280.jpg);
    }
    .pic9{
        background-image: url(images/pancakes-2291908_1280.jpg);
    }
}





/* ???????????????? */


@media (480px < width < 768px){
   .grid{
    grid-template-columns: 1fr 1fr;} 
}

@media (width <= 480px){
    .grid{
        grid-template-columns: 1fr;
}}

